.Dictionary {
  max-width: 900px;
  margin: 0 auto;
}

.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Dictionary section {
  background: #feece9;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
  text-align: center;
}

.Dictionary .search-input {
  display: block;
  height: 64px;
  color: #666666;
  font-size: 18px;
  line-height: 21px;
  padding: 22px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  width: 100%;
}
.Dictionary .hint {
  font-size: 11px;
  margin-top: 20px;
}
