.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 10px;
}

.Meaning .definition {
  color: #222222;
  text-align: left;
  font-size: 17px;
}
.Meaning .example {
  font-size: 15px;
}
