.Phonetic {
  text-align: left;
  height: 40px;
}
.Phonetic a {
  color: #2b3a55;
  font-size: 20px;
  padding: 10px;
  text-align: left;
}
.Phonetic .text {
  opacity: 0.6;
  font-size: 17px;
  font-weight: bold;
}
